<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecom.ecommerceapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcommerceApp">
        <activity
            android:name="com.ecom.ecommerceapp.Classes.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.ecom.ecommerceapp.Classes.CartActivity"
            android:exported="false" />
        <activity
            android:name="com.ecom.ecommerceapp.Classes.DetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.ecom.ecommerceapp.Classes.ProductActivity"
            android:exported="false" />
        <activity
            android:name="com.ecom.ecommerceapp.ApiServices.ApiServices"
            android:exported="false" />
        <activity
            android:name="com.ecom.ecommerceapp.Classes.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.ecom.ecommerceapp.Classes.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>